.textfield-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  margin-top: 1rem;
}

.chat-container {
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 1);
  height: 70%;
  width: 80vh;
  border-radius: 25px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}

.question-answer-container {
  margin-top: 1rem;
  align-self: flex-start;
  margin-bottom: auto;
  width: 100%;
  overflow-x: auto;
  display: flex; 
  flex-direction: column;
  align-items: bottom; 
}
.chat-input {
  flex-grow: 1;
  margin-right: 10px;
  height: 100%;

}

.chat-send-btn {
  width: 100%;
  margin: 0;
}

.answer-bot {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  margin-left: auto;
  max-width: 80%;
  word-wrap: break-word;
  display:flex;
  margin-right: 1rem;
  flex-direction: row;

}

.question-you {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  display:flex;
  flex-direction: row;
  border-radius: 15px;
  margin-right: auto; 
  max-width: 80%;
  margin-left: 0.5rem;
}

.text-bot
{

  background-color: #DCDCDC;
  border-radius: 15px;
  padding: 0.5rem;
  word-wrap: break-word;
  max-width: 50vh;

}
.text-you
{
  padding: 0.5rem;
  border-radius: 15px;
  color: #fff;
  background-color: #36454f ;
  max-width: 50vh;
  word-wrap: break-word;
}
.image-you {
  padding: 0.5rem;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #2F4F4F;
  text-align: center;
  color:white;
  line-height: 25px;
}
.image-bot{
  padding: 0.5rem;
  margin-right: 0.5rem;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  color:white;
  background-color: #808080;
  line-height: 25px;
}

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #333333,
  #1d1f20, #000000);
  color:white;
  height: 40px;
  padding: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}
nav a {
  color: inherit;
  text-decoration: none;
}
.nav-logo{
  font-size: 1.5rem;
  font-weight: 600;
}
.nav-elements {
  align-items: right;
  gap: 2rem;
  display: flex;
  font-size: 1.5rem;
  flex-direction: row;
}

.generator-container{
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 1);
  align-items: center;
  width: 80vh;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap:6vh;
}
.photo-generated {
  width: 256px;
  height: 256px;
  border-radius: 25px;
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 1);
}
.photo-generated img {
    border-radius: 25px;
}

.textfield-generator{
  width: 100%;
}

.generator-progress
{
  margin-top: 10vh;
}

.center-div {
  margin-top: 20vh;
  display: flex ;
  justify-content: center ;
  height: 80vh;
}

.login-container {
  width: 80vh;
  display: flex;
  justify-content: center;
  max-height: 40vh;


}

.login-elements {
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 1);
  display: flex;
  gap:2vh;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 25px;
  flex-direction: column;
  width: 50%;
}

.picture-card {
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 1);
  border-radius: 25px;
  max-width: 256px;
  word-wrap: break-word;
  background-color: #f2f2f2;
}
.picture-card img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.disabled-arrow {
  font-size: 1rem;
  color:gray;
  padding:0.5rem;
}
.enabled-arrow {
  font-size: 1rem;
  color:black;
  padding:0.5rem;
}
.heart-icon {
  
  color:black;
  padding: 0.4rem;
}
.card-login-text
{
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}
.heart-icon-liked
{
  color:red;
  padding: 0.4rem;
}