.textfield-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  margin-top: 1rem;
}

.chat-container {
  height: 80vh;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.question-answer-container {
  margin-top: 1rem;
  align-self: flex-start;
  margin-bottom: auto;
  width: 100%;
  overflow: auto;
  display: flex; 
  flex-direction: column;
  align-items: bottom; 
}
.chat-input {
  flex-grow: 1;
  margin-right: 10px;
  height: 100%;
}

.chat-send-btn {
  width: 100%;
  margin: 0;
}

.answer-bot {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  margin-left: auto;
  max-width: 80%;
  word-wrap: break-word;
  display:flex;
  flex-direction: row;

}

.question-you {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  display:flex;
  flex-direction: row;
  border-radius: 15px;
  margin-right: auto; 
  max-width: 80%;
  word-wrap: break-word;
  margin-left: 0.5rem;
}

.text-bot
{

  background-color: #DCDCDC;
  border-radius: 15px;
  padding: 0.5rem;
}
.text-you
{
  padding: 0.5rem;
  border-radius: 15px;
  color: #fff;
  background-color: #36454f ;
}
.image-you {
  padding: 0.5rem;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #2F4F4F;
  text-align: center;
  color:white;
  line-height: 25px;
}
.image-bot{
  padding: 0.5rem;
  margin-right: 0.5rem;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  color:white;
  background-color: #808080;
  line-height: 25px;
}